extends ./fijo/index

block contenido
    main.d-flex.flex-column.justify-content-center.align-items-center.min-vh-100.text-center
        div
            h1.display-1.fw-bold.text-danger 404
            h2.fw-bold ¡Ups! Te has perdido buscando lo que no debías.
            p.text-secondary La página que buscas no existe o ha sido movida.
            a.btn.btn-primary.mt-3.px-4(href="/") Volver al Inicio