extends ./fijo/index

block contenido
    include ./fijo/header

    .container.py-5.texto
        .row.justify-content-center.text-center
            .col-lg-8.col-md-10
                h2.fw-bold.text-dark.mb-2 Nuestros sitios de quedadas

                hr.w-25.mx-auto.mb-4.border-primary.border-3.opacity-75

                p.lead.text-secondary.mb-5 Aquí puedes consultar los horarios, ciudades y el sitio exacto donde realizaremos cada actividad y qué se realizará en ella; asimismo, sus objetivos y metas que queremos conseguir para que ustedes puedan avanzar. Más adelante iremos completando más ciudades, eventos y objetivos juntos.

        include ./fijo/layout_encuentros

    include ./fijo/footer