extends ./fijo/index

block contenido
    include ./fijo/header
    .container.mt-5.texto
        h2.fw-bold.text-dark.mb-2.text-center Experiencias
            hr.w-25.mx-auto.mb-4.border-primary.border-3.opacity-75
            blockquote.text-center.mb-5
            p.lead.text-secondary.mb-5 Cuentanos tus sensaciones y experiencias sobre lo que has experimentado con nosotros
        include ./fijo/layout_experiencias


        .row
            .col-md-12.py-5
                h2.text-center Cuentanos tu experiencia
                if (errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error.mensaje

            .row.justify-content-center.mb-5
                .card.shadow-lg.bg-white.border-0.rounded-4.p-4
                    .col-md-12
                        form.formuxp(action="/experiencias" method="POST")
                            .form-group.mb-4
                                label.fw-bold(for="nombre") Nombre
                                input#nombre(type="text", placeholder="Tu nombre", name="nombre", class="form-control", value=nombre)
                            .form-group.mb-4
                                label.fw-bold(for="correo") Correo Electrónico
                                input#correo(type="text", placeholder="Tu correo electrónico", name="correo", class="form-control", value=correo)
                            .form-group.mb-4
                                label.fw-bold(for="mensaje") Mensaje
                                textarea#situaciones(class="form-control", name="situaciones", placeholder="Tu Mensaje", rows=3)= situaciones

                            input.btn.btn-outline-dark(type="submit")

    include ./fijo/footer