extends ./fijo/index

block contenido
    include ./fijo/header

    .container.my-5.py-5
        .row.justify-content-center
            .col-md-8.text-center
                h1.display-4 Gracias por su compra
                p.lead Mentes Insólitas está encantado de tenerle.

                a.btn.btn-outline-primary.mt-3(href="/factura")
                    i.bi.bi-file-earmark-pdf-fill.me-2
                    | Descargar Factura

    include ./fijo/footer