extends ./fijo/index

block contenido
    include ./fijo/header

    .container.py-5.texto
        .row.justify-content-center.text-center
            .col-lg-8.col-md-10
                h2.fw-bold.text-dark.mb-2 Tienda oficial

                hr.w-25.mx-auto.mb-4.border-primary.border-3.opacity-75

                p.lead.text-secondary.mb-5 En esta sección podrás adquirir diferentes productos para que tu persona favorita pueda sentirse cómoda en diferentes situaciones. Muchas veces necesitan sentirse cómodos cuando ocurre algún evento inesperado, así que te proporcionamos los productos necesarios para que ellos siempre estén lo mejor posible.

        include ./fijo/layout_productos

    include ./fijo/footer